.Container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.Name {
    margin-top: 0;
    color: rgb(5, 58, 32);
}

.Messages {
    flex: 1;
    max-height: 27rem;
    border: 1px solid rgb(9, 173, 7);
    border-radius: 7px 7px 0 0;
    margin-bottom: 5%;
    overflow-y: auto;
}

.MessagesList {
    list-style-type: none;
    padding: 0;
}

.NewMessage {
    height: 200px;
    max-height: 50%;
    font-size: 1.2rem;
    padding: 8px 12px;
    resize: none;
    /* border: 1px solid rgb(13, 122, 177); */
}

.Item {
    width: 45%;

    margin: 8px;
    padding: 12px 1rem;
    word-break: break-word;
    border-radius: 4px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MyMessage {
    background-color: rgb(9, 173, 7);
    margin-left: auto;
}

.ReceivedMessage {
    background-color: #3f4042;
    margin-right: auto;
}

.Container button {
    min-height: 4rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: white;
    background: rgb(5, 58, 32);
    border: none;
    margin: 10% 10%;
}

.Container,
.NewMessage,
.Button {
    border-color: #9a9a9a;
}
