.Container {
    display: flex;
    flex-direction: column;
    /* margin: 16px; */
    margin-bottom: 10%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 0 10%;
}

.Name {
    margin-top: 0;
    color: rgb(5, 58, 32);
}

.Messages {
    /* flex: 1; */
    min-height: 22rem;
    max-width: 50rem;
    border: 5px solid rgb(5, 58, 32);
    border-radius: 7px 7px 0 0;
    margin-bottom: 5%;
    overflow-y: auto;
}

.MessagesList {
    list-style-type: none;
    padding: 0;
}

.Textarea {
    min-height: 8rem;
    max-width: 50rem;
    max-height: 50%;
    font-size: 1.2rem;
    padding: 8px 12px;
    resize: none;
    border: 3px solid rgb(5, 58, 32);
    overflow-y: auto;
    margin-top: 5%;
}

.Item {
    width: 45%;

    margin: 8px;
    padding: 12px 1rem;
    word-break: break-word;
    border-radius: 4px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MyMessage {
    background-color: rgb(9, 173, 7);
    margin-left: auto;
}
.Item p:first-child {
    font-size: 0.9;
}

.ReceivedMessage {
    background-color: #3f4042;
    margin-right: auto;
}

.Container button {
    min-height: 4rem;
    max-width: 40rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: white;
    background: rgb(5, 58, 32);
    border: none;
    margin: 10% 0;
}

.Container,
.NewMessage,
.Button {
    border-color: #9a9a9a;
}

.Avatar {
    width: 2rem;
    height: 2rem;
    border: 1px solid #fff;
    background-color: transparent;
    margin-right: 10%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    z-index: 10;
    margin-top: -10%;
}

.Avatar img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
