.Container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.Name {
    margin-top: 0;
    color: rgb(13, 122, 177);
}

.Messages {
    flex: 1;
    min-height: 100px;
    overflow: auto;
    border: 1px solid rgb(13, 122, 177);
    border-radius: 7px 7px 0 0;
    margin-bottom: 5%;
}

.MessagesList {
    list-style-type: none;
    padding: 0;
}

.NewMessage {
    height: 200px;
    max-height: 50%;
    font-size: 20px;
    padding: 8px 12px;
    resize: none;
    border: 1px solid rgb(13, 122, 177);
}

.Item {
    width: 55%;
    margin: 8px;
    padding: 12px 8px;
    word-break: break-word;
    border-radius: 4px;
    color: white;
}

.MyMessage {
    background-color: rgb(0, 132, 255);
    margin-left: auto;
}

.ReceivedMessage {
    background-color: #3f4042;
    margin-right: auto;
}

.Button {
    font-size: 28px;
    font-weight: 600;
    color: white;
    background: rgb(13, 122, 177);
    padding: 24px 12px;
    border: none;
    margin: 10% 0;
}

.Container,
.NewMessage,
.Button {
    border-color: #9a9a9a;
}
