.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  /* overflow-y: auto; */
  margin: 0 auto;
}
.App .Logo {
  display: flex;
  align-items: flex-end;
  margin-left: 10%;
}
.App header {
  height: 33vh;
  width: 100%;
  display: flex;
  align-items: center;
  color: rgb(5, 58, 32);
  border-bottom: 5px solid rgb(0, 128, 0);
  justify-content: space-between;
  /* position: fixed; */
  /* top: 0; */
}
.App h1:nth-child(2) {
  font-size: 9rem;
  color: #000;
}
.App header p {
  color: #000;
  font-family: "Dancing Script", cursive;
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 10%;
}
@media screen and (min-width: 435px) {
  .App .Logo {
    margin-left: 10%;
    transform: scale(1.2);
  }
  .App header {
    min-height: 25vh;
  }
}

@media screen and (min-width: 960px) {
  .App header {
    min-height: 27vh;
  }
}
