.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.Form input {
    background-color: transparent;
    color: blanchedalmond;
    border: none;
    border-bottom: 3px solid #fff;
    width: 80vw;
}
.Form input:focus {
    box-shadow: none;
    background-color: transparent;
}
.Form p {
    font-size: 0.9rem;
}

.Form button {
    background-color: rgb(100, 191, 237);
    border-radius: 10px;
    border: none;
    width: 15rem;
    height: 3rem;
    font-size: 1.2rem;
    margin-top: 10%;
    color: #fff;
}
.Form button:nth-child(1) {
    border: none;
    width: auto;
    height: auto;
    font-size: 0.9rem;
    background-color: transparent;
    color: rgb(28, 99, 221);
    margin-left: -2%;
}

.forgPass {
    display: flex;
    align-self: flex-end;
    margin-right: 5%;
    margin-bottom: 10%;
}

@media screen and (min-width: 435px) {
    .Form input {
        width: 30rem;
    }
}
