.Container {
    position: fixed;
    left: 10%;
    right: 10%;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Container .Input {
    padding: 24px 12px;
    border-radius: 7px;
    font-size: 24px;
    max-width: 30rem;
    width: 100%;
}

.Container .Input:focus {
    outline: none;
}

.Container .Button {
    padding: 24px 12px;
    font-size: 28px;
    background: rgb(5, 58, 32);
    color: white;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border-radius: 7px;
    margin: 15% 0;
    width: 100%;
    max-width: 30rem;
}
