.Container {
    position: fixed;
    left: 10%;
    right: 10%;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
}

.Container .Input {
    padding: 24px 12px;
    border-radius: 7px;
    font-size: 24px;
}

.Container .Input:focus {
    outline: none;
}

.Container .Button {
    padding: 24px 12px;
    font-size: 28px;
    background: rgb(13, 122, 177);
    color: white;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border-radius: 7px;
    margin: 10% 0;
}
