.Container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(white, green);
}

.Container h1 {
    font-family: 'Pacifico', cursive;
    font-size: 6rem;
    margin-top: 5%;
    color: rgb(5, 58, 32);
}

.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    height: 100%;
}

.Form input {
    background-color: transparent;
    color: blanchedalmond;
    border: none;
    border-bottom: 3px solid rgb(5, 58, 32);
    width: 80vw;
}
.Form label:first-child {
    margin-top: 15%;
}
.Form input:focus {
    box-shadow: none;
    background-color: transparent;
}

.Container a {
    color: #fff;
    margin-bottom: 10%;
}

.Form button {
    background-color: rgb(5, 58, 32);
    border-radius: 10px;
    border: none;
    width: 15rem;
    height: 3rem;
    font-size: 1.2rem;
    color: #fff;
    margin-top: 20%;
}

@media screen and (min-width: 435px) {
    .Form p {
        margin-top: 5%;
    }
    .Form input {
        width: 30rem;
    }
    .Container a {
        margin-bottom: 10%;
    }
}
@media screen and (min-width: 900px) {
    .Container a {
        margin: 5% 0;
    }
}
