.Container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(45, 174, 184);
    color: #fff;
    background-image: url(../../../assets/sea-img.png) no-repeat center center
        fixed;
}
.Container img {
    width: 100vw;
}
.Container header {
    height: 33vh;
    display: flex;
    justify-content: center;
}

.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    height: 50%;
}
.Form input:focus {
    background-color: transparent;
    box-shadow: none;
}
.Form input {
    background-color: transparent;
    color: blanchedalmond;
    border: none;
    border-bottom: 3px solid #fff;
    box-shadow: none;
    width: 80vw;
}
.Form button {
    background-color: rgb(100, 191, 237);
    border-radius: 10px;
    border: none;
    width: 15rem;
    height: 3rem;
    font-size: 1.2rem;
    margin-top: 20%;
    color: #fff;
}
.Container a {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    /* margin-bottom: 10%; */
    color: #fff;
}
@media screen and (min-width: 435px) {
    .Form p {
        margin-top: 5%;
    }
    .Form input {
        width: 30rem;
    }
    .Container a {
        margin-bottom: 10%;
    }
}
@media screen and (min-width: 900px) {
    .Container a {
        margin: 5% 0;
    }
}
