.Profile {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.Showcase {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    min-height: 35vh;
    background-color: rgb(13, 122, 177);
    border-radius: 10px;
    /* margin-top: -5%; */
}

.Profile button {
    background-color: rgb(13, 122, 177);
    border-radius: 10px;
    border: none;
    width: 15rem;
    height: 3rem;
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 15%;
    font-weight: bold;
}
.Profile label {
    font-size: 0.9rem;
}
.Display {
    width: 7rem;
    height: 2rem;
    background-color: rgba(255, 215, 0, 0.5);
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
@media screen and (min-width: 435px) {
    .Showcase {
        margin: 10% 0;
    }
    /* .Profile {
        padding: 10% 0;
    } */
}
@media screen and (min-width: 600px) {
    .Showcase {
        /* margin-top: 20%; */
        margin-bottom: 5%;
    }
}
