.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    margin-bottom: 10%;
}

.Form input {
    background-color: transparent;
    color: blanchedalmond;
    border: none;
    border-bottom: 3px solid #fff;
    box-shadow: none;
    width: 80vw;
}
.Form input:focus {
    background-color: transparent;
}
.Form p {
    font-size: 0.9rem;
}

.Form button {
    background-color: rgb(100, 191, 237);
    border-radius: 10px;
    border: none;
    width: 15rem;
    height: 3rem;
    font-size: 1.2rem;
    margin-bottom: 10%;
}
