.Home {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #fff;
    overflow-y: auto;
}
.Home .Logo {
    display: flex;
    align-items: flex-end;
    margin-left: 10%;
}
.Home header {
    height: 33vh;
    width: 100%;
    display: flex;
    color: rgb(5, 58, 32);
    border-bottom: 5px solid rgb(0, 128, 0);
    justify-content: space-between;
}
.Home h1:nth-child(2) {
    font-size: 9rem;
    color: #000;
}
@media screen and (min-width: 435px) {
    .Home .Logo {
        margin-left: 10%;
        transform: scale(1.2);
    }
}
