.Container {
    margin: 0% 0 0% 0;
    width: 100vw;
    height: 93vh;
}

.Container #Marker {
    /* background-image: url('/recycling-logo.png'); */
    /* background-size: cover; */
    background-color: green;
    width: 30px;
    border-radius: 50px;
    cursor: pointer;
}
