.Container {
    margin: 5% 0 5% 0;
    background-color: rgb(5, 58, 32);
    width: 100vw;
    height: 90vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.Container .infos {
    padding: 0 10% 0% 3%;
    font-size: 1rem;
    font-weight: bold;
}
.Map {
    width: 100vw;
    height: 94vh;
}
.Map input {
    height: 2rem;
    width: 10rem;
}
.Sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #ffffff;
    padding: 6px 12px;
    font: 15px/24px monospace;
    z-index: 1;
    margin: 12px;
    border-radius: 4px;
}
