.Container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #fff;
    overflow-y: auto;
    margin-bottom: 9%;
    background-image: linear-gradient(white, green);
}

.Container header {
    height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(5, 58, 32);
    padding: 0 10%;
    /* font-family: 'Dancing Script', cursive; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 20%;
    filter: drop-shadow(30px 30px 30px rgba(255, 255, 255, 0.922));

    /* background: url('../../assets/africa-recycle-logo.png') no-repeat center;
    background-size: contain; */
}
.Container header img {
    margin: 10% 0;
    max-width: 30rem;
}

.Form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 35%;
}

.Form input,
.TimePicker {
    background-color: transparent;
    color: rgb(5, 58, 32);
    border: none;
    border-bottom: 3px solid #eee;
    margin-bottom: 5%;
    width: 70vw;
}

.Form ::placeholder {
    color: #eee;
}
.Form label {
    color: #eee;
}
.Form input:focus,
.TimePicker:focus {
    box-shadow: none;
    background-color: transparent;
}
.Form p {
    font-size: 0.9rem;
}

.Form .Row {
    display: flex;
}

.Form button {
    background-color: rgb(5, 58, 32);
    border-radius: 10px;
    border: none;
    width: 80%;
    max-width: 30rem;
    height: 3rem;
    font-size: 1.2rem;
    margin: 10% 0 20% 0;
    color: #fff;
}

@media screen and (min-width: 435px) {
    .TimePicker {
        width: 10rem;
    }
    .Container img {
        width: 50%;
        margin-top: 30%;
    }
}
@media screen and (min-width: 550px) {
    /* .Form {
        margin-top: 10%;
    }
    .Form .Long {
        width: 40vw;
    }
    .Form .Short {
        width: 20vw;
        margin-left: 18%;
    }
    .Form .Inline {
        width: 80%;
    } */
    .Container header img {
        transform: scale(0.8);
    }
}
