.Container {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #fff;
  /* overflow-y: auto; */
  margin-bottom: 8%;
  background-image: linear-gradient(white, green);
}
.Container header {
  height: 27vh;
  width: 100%;
  display: flex;
  align-items: center;
  color: rgb(5, 58, 32);
  border-bottom: 5px solid rgb(0, 128, 0);
  filter: drop-shadow(10px 10px 10px rgba(255, 255, 255, 0.922));
}

.Container .Logo {
  display: flex;
  align-items: center;
  margin-left: 10%;
  width: 45%;
}
.Container h1:nth-child(2) {
  font-size: 9rem;
  color: #000;
}
.Container header p {
  color: #000;
  font-family: "Dancing Script", cursive;
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 10%;
}

.Container section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(5, 58, 32);
  padding: 0 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  margin-top: 20%;
  margin-bottom: 10%;
}
.Container header img {
  margin: 10% 0;
  max-width: 30rem;
}

.Form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 40rem;
  padding: 0 10%;
  align-items: center;
}

.Form input,
.TimePicker {
  background-color: transparent;
  color: rgb(5, 58, 32);
  border: none;
  border-bottom: 3px solid #eee;
  margin-bottom: 5%;
  width: 70vw;
}
#firstInput {
  width: 100%;
}

.Form ::placeholder {
  color: #eee;
}
.Form label {
  color: #eee;
}
.Form input:focus,
.TimePicker:focus {
  box-shadow: none;
  background-color: transparent;
}
.Form p {
  font-size: 0.9rem;
}

.Form .Row {
  display: flex;
}

.Form button {
  background-color: rgb(5, 58, 32);
  border-radius: 10px;
  border: none;
  width: 80%;
  max-width: 30rem;
  height: 3rem;
  font-size: 1.2rem;
  margin: 10% 0 20% 0;
  color: #fff;
}

@media screen and (min-width: 435px) {
  .Container .Logo {
    transform: scale(1.2);
  }
  .Container header {
    min-height: 25vh;
  }
  .TimePicker {
    width: 10rem;
  }
  .Container section {
    width: 90%;
  }
}
@media screen and (min-width: 700px) {
  .Form {
    width: 80%;
  }

  #firstInput {
    width: 80%;
    margin-right: 40%;
  }
}
@media screen and (min-width: 850px) {
  #firstInput {
    width: 80%;
    margin-right: 50%;
  }
}

@media screen and (min-width: 960px) {
  .Container header {
    min-height: 27vh;
  }
  #firstInput {
    margin-left: -65%;
  }
}
