.Container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #fff;
    overflow-y: auto;
    background-image: linear-gradient(white, green);
}

.Container p {
    font-size: 0.9rem;
    color: rgb(5, 58, 32);
}
.Container a {
    color: #fff;
}
.Container h1 {
    font-family: 'Pacifico', cursive;
    font-size: 6rem;
    margin-top: 5%;
    color: rgb(5, 58, 32);
}
.Container .Logo {
    margin-top: 5%;
    margin-left: 5%;
    width: 60vw;
}
.Container .Logo img {
    width: 100%;
    border-radius: 5%;
    /* filter: drop-shadow(30px 30px 30px #fff); */
}
.Container header {
    height: 33vh;
    width: 100%;
    display: flex;
    color: rgb(0, 128, 0);
    background-color: #fff;
    border-bottom: 5px solid rgb(0, 128, 0);
    justify-content: space-between;
}

.Container h1 {
    font-family: 'Pacifico', cursive;
    font-size: 6rem;
    margin-top: 5%;
    z-index: 100;
}

.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.Form input {
    background-color: transparent;
    color: blanchedalmond;
    border: none;
    border-bottom: 3px solid rgb(5, 58, 32);
    width: 80vw;
}
.Form input:focus {
    box-shadow: none;
    background-color: transparent;
}
.Form #Terms {
    font-size: 0.9rem;
    padding: 0 8%;
    color: rgb(5, 58, 32);
}

.Form button {
    background-color: rgb(5, 58, 32);
    border-radius: 10px;
    border: none;
    width: 15rem;
    height: 3rem;
    font-size: 1.2rem;
    margin-top: 10%;
    color: #fff;
    margin-bottom: 10%;
}
.Form button:nth-child(1) {
    border: none;
    width: auto;
    height: auto;
    font-size: 0.9rem;
    background-color: transparent;
    color: #fff;
}
@media screen and (min-width: 435px) {
    .Form input {
        max-width: 40rem;
    }
    .Form p {
        margin-top: 5%;
        margin-bottom: -5%;
    }
    .Form #Terms {
        padding: 0 15%;
    }
}
@media screen and (min-width: 900px) {
    .Form #Terms {
        padding: 0 25%;
    }
}
